
/*--===== General Style =====--*/

@font-face {
  font-family: 'Ysabeau-VariableFont_wght'; 
  src: url('../fonts/Ysabeau-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body{
	background:#e6e6e6;
	color:#231f20;
	font-family: 'Ysabeau-VariableFont_wght' , 'Mont', sans-serif;
	font-size:16px;
}

body{
	background:#eeeeef;
	color:#000;
}
.container{
	padding:20px 0;
	color:#231f20;
}
.top_section{
    display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}
.price_container{
	max-width:760px;
	margin:0 auto;
}
p,span,a,label,li, input::placeholder{
	color:#000;
}
.input_field{
	padding:3px 0;
}
input,select{
    padding: 5px;
	border-radius:5px;
	height: auto;
	max-width:100%;
	border-radius:0;
	border: 1px solid #ced4da;
}
input.form-control, select.form-control{
	height: auto;
    padding: 5px;
	color:#231f20;
	
}
* {
    padding: 0;
    margin: 0;
}
h1{
	color:#231f20;
}
h1,h2{
	font-family: 'Bebas Neue' !important;
	letter-spacing :1px;
	
}
h2{
	color: #ee1c25 !important;
}
label {
    display: inline-block;
    /*margin-bottom: .5rem;*/
	margin-bottom: 0;
	font-weight:bold;
    text-align: left;
	font-size:16px;
	
}
.no_padding{
	padding:0;
}
.no_padding_r{
	padding-right:0;
}

.taxable_div{
	justify-content: space-between;
}
.justify_space_btw{
	justify-content: space-between;
}

.just_start{
	justify-content: start;
}
.gap_10{
	gap:10px;
}
.gap_20{
	gap:20px;
}
.error {
    clear: both;
    display: block;
    font-weight: bold;
    font-size: 12px;
}
.red, .error{
	color:red;
}

td, th {
    padding: 5px 20px;
    text-align: center;
}
table{
	background:#fff;
	text-align:left;
}
th, td {
    vertical-align: middle;
}
td{
	text-align:left;
	padding-left:15px;
}
th.thead-dark {
    color: #fff;
    background-color: #231f20;
    text-align: left;
	max-width: 28px;
	font-weight:bold;
	font-size:18px;
}
.text-bold{
	font-weight:bold;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.pd_lr_15{
	padding-left:15px!important;
	padding-right:15px!important;
}
/*-- specific styles --*/
.plus_minus_div{
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}
.plus_minus_div label{
	margin:0;
}

div#container_rows {
    padding-top: 20px;
}

h1{
	margin: 10px auto;
}
h1::after {
    content: ' ';
    margin: 12px 0 25px 22%;
    width: 50px;
    display: block;
    height: 2px;
    border-bottom: 2px solid #eb2227;
}
/*
h2{
	text-align:center;
	font-size:18px;
	border-top:2px solid #eb2227;
	border-bottom:2px solid #eb2227;
	padding:10px 0;
}
*/
h2 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0;
    font-weight: bold;
    color: #ee1c25;
}
.clickable_heading{
	cursor:pointer;
	
}
.toggle_list{
	display:none;
}
#cabinet_info_heading_div , .clickable_heading {
	margin-top:10px;
}
form{
	padding:0 0 25px;
	margin: 0 auto;
	width:100%;
}
.input_field, .select_field {
	width: 100%;
    /*
    margin-bottom: 15px;
	margin-top: 15px;
	padding: 7px 0;
	*/
}
.row_headings label , .row_headings div{
	
	margin-bottom:0;
	padding-bottom:0;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #a83334;
    opacity: 1;
    color: #000;
    border: 0;
    cursor: not-allowed;
}
#logo{
	max-width:125px;
}
select, #cmd{
	width:100%;
}
#resultsTable{
	display:none;
}
#editor{
	display:none;
}
/*
.input_field_calcs div{
	padding:0;
}
*/
.input_field_calcs input{
	border:0;
	border-radius:0;
}
.dollar_sign {
    position: absolute;
	padding: 4px 10px;
	/*
	color: #fff;
    float: right;
    max-width: 40px;
    
    background: #eb2227;    
    font-size: 22px;
    line-height: 1px;
    font-weight: bold;
    display: inline-block;  
	*/
}


.input_field_n_dollar input.form-control{
	padding-left: 25px;
	color:#231f20;
}
.input_field_n_dollar input.description {
	padding-left:10px;
}
.input_field_n_dollar input.form-control,.input_field_n_dollar select.form-control,.input_field_n_dollar .dollar_sign{
	/*height: 45px;
	line-height: 45px;*/
	border-radius:0;
}
.btn.btn-primary{
	padding: 12px 20px;
    background: #231f20;
    color: #fff;
	border:0;
	border-radius:0;
	font-weight:bold;
	font-size:16px;
}
.btn.btn-primary:hover{
	background:#eb2227;
}
#price_calc_btn{
	width:100%;
}

.flex_row{
	display:flex;
}
.project_info{
	display:flex;
	flex-direction:column;
	gap:10px;
}
.project_info .flex_row{
	gap:10px;
	align-items: center;
}
.project_info label{
	flex-basis:48%;
}
.project_info .flex_row div{
	flex:1;
}
.btn_plus,.btn_minus,.plus,.minus {
    
    background: #231f20;
    color: #fff;
   
    box-sizing: border-box;
    font-weight: bold;
    /*
	border: 0;
	font-size: 24px;
	line-height:32px;
	height: 45px;
    line-height: 45px;
	padding: 0 10px;
	width: 40px;
	*/
	border:0;
	font-size: 22px;
    line-height: 22px;
    border-radius: 0;
    cursor: pointer;
	font-weight: bold;
    font-family: serif;
	border-radius: 100%;
	width: 32px;
    height: 32px;
}
.btn_minus , .minus {
	font-size:26px;
}
.plus:hover,.btn_plus:hover{
	background: #eb2227;
}
.minus,.btn_minus{
    background: #eb2227;
}
.minus:hover,.btn_minus:hover{
	background: #231f20;
}
#resultsTable {
    /*display: table;*/
    width: auto;
    min-width: 320px;
    margin: 0 auto;
}
#resultsTable .retail td {
    font-size: 18px;
    font-weight: bold;
	background:#231f20;
	color:#fff;
}
.thead-dark{
	color:#fff;
	background:#231f20;
	border-right:1px solid #ececec;
}
.modification{
	display:none;
}


.flex_subdiv{
	display:flex;
	justify-content:center;
}



.btn-secondary {
    color: #fff;
    background-color: #b23cfd;
}

.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn_l_c , .taxation_btn_l_c{
	background: #231f20;
	color:#fff;
	border:0;
	border-radius:0;
	/*min-width:40px;*/
	padding: 6px 7px;
	cursor:pointer;
}
.btn_l_c.active, .taxation_btn_l_c.active{
	background: #eb2227 !important;
}
.taxation_btn_l_c.disabled{
	width:36px!important;
}
#notes_textarea{
	width:100%;
	background:#fff;
	padding:5px 10px;
	
}
#cmd svg {
    width: auto;
    height: 24px;
}
#resultsTable{
	min-width:auto;
}
/*
#cmd{
	background:#eb2227;
}
#resultsTable .retail td#cmd_td:hover{
	background:#000;
	color:#fff;
}
#resultsTable .retail td#cmd_td:hover #cmd{
	background:#000;
	color:#fff;
}
*/

#resultsTable .retail td#cmd_td
{
	padding: 0 10px;
    margin: 0;
    vertical-align: middle;
    background: #ececec;
}
#cmd
{
    background: #ececec;
    width: auto;
    font-size: 18px;
    display: inline-block;
    padding: 5px;
    color: #676161;
}
#cmd:hover{
	color:#000;
}


